@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,600;1,200&display=swap');

:root{
    --blue: #000;
    --black: #45505b;
}

*{
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background-color: var(--blue);
    color: #333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1.4rem;
}


html::-webkit-scrollbar-track{
    background-color: white;
}

html::-webkit-scrollbar-thumb{
    background: var(--blue);
}

body{
    background-color: white;
    overflow-x: hidden;
}

.btn{
    padding: .7rem 3rem;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding: 0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background-color: var(--blue);
}

.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid rgba(51, 50, 50, 0.267);
    color: var();
}

.heading span{
    color: var(--blue);
}

.main{
    width: 100%;
    height: auto;
}

.main-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding: 10px; */
}

.main-col1{
    width: 25%;
    height: auto;
    position: fixed;
    padding: 0rem 2rem;
}

.main-col2{
    width: 70%;
    height: auto;
    margin: auto;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 20%;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;  
}



 header .user img{
    height: 15rem;
    width: 15rem;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
    object-fit: cover;
   border: solid .1rem gold;
} 

header .navbar{
    width: 100%;
}

header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
    text-align: center;
}

header .navbar ul li a{
    display: flex;
    /* padding: 1rem; */
    margin: 1.5rem 0;
    color: gold;
    font-size: 1.8rem;
    /* justify-content: center; */
    /* align-items: center; */

    
}

header .navbar ul li a:hover{
    background-color: var(--blue);
    color: white;
}

#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background-color: #3333;
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
    flex-flow: column;
    padding: 0 15rem;
    background-image: url(../img/raj5.png);
    background-position-x: right;
    background-repeat: no-repeat;
    line-height: 6rem;
    position: relative;
    z-index: 1;  
}

.home h3{
    font-size: 3rem;
    color: var(--black);
}

.home h1{
    font-size: 5rem;
    color: var(--black);
}

.home h1 span{
    color: var(--blue);
}

.home-blur:after{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background-color: white;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
}

.home p{
    width: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
   
}

.home p a{
    text-decoration: none;
    font-size: 3rem;
    color: var(--black);
    cursor: pointer;
}

.home i:hover{
    color: var(--blue);
}




















@media (max-width: 1200px){
    html{
        font-size: 55%;
    }

    .home{
        padding: 1rem 4rem;
    }

    .myskills .box-container .box .flexSkills .skillscon:hover{
        margin-top: 3rem;
        margin-left: 3rem;
    }
}

@media (max-width: 991px){
 header{
    left: -120%;
 }

 #menu{
    display: block;
 }

 #menu{
    display: block;
 }

 header.toggle{
    left: 0%;
 }

 body{
    padding: 0;
 }

 .myskills .box-container .box .flexSkills .skillscon:hover{
    margin-top: 3rem;
    margin-left: 3rem;
}
}


@media (max-width: 768px){
   html{
    font-size: 50%;
   }

   .myskills .box-container .box .flexSkills .skillscon:hover{
    margin-top: 3rem;
    margin-left: 3rem;
}
   
   }


@media (max-width: 360px){
    header{
       width: 200vw;
    }

    .heading{
        margin:0 3rem;
    }


    .home h3{
        font-size: 2rem;
    }
    
    .home h1{
        font-size: 3.5rem;
    }
   }